.inlineCode {
  font-size: 13px;
  /* font-style: italic; */
}

.underLine {
  text-decoration: underline dotted;
}

.alertWrapper {
  padding: 10px 20px;
  border: 1px solid #aaaaaa66;
  border-radius: 10px;
  background-color: var(--background-color-transparent);
  inset: 10px;
  transition: all var(--transition-3);
}

.figCaption {
  text-align: center;
  /* font-style: italic; */
  color: var(--text-secondary-color);
  font-size: 14px;
}
