/****************************** Reset CSS 시작 ******************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}

html {
  --background-color: #fff;
  --background-neutral-color: #aaa;
  --text-color: #444;
  --text-bold-color: #222;
  /* --text-color: #222;
  --text-light-color: #666; */
  --main-border-color: #ccc;
  --sub-border-color: #eee;
  --bold-font-weight: 700;
  --regular-font-weight: 400;

  --brand-color: red;
  --button-hover-color: #aaaaaa44;
  --series-color: #ff7c3e52;
  --tag-color: #9d9d9d47;
  --tech-color: #ffd5003d;
  /* 
  --light-background-color: #fff;
  --dark-background-color: #222;

  --light-text-color: #222;
  --dark-text-color: #fff;

  --main-border-light-color: #ccc;
  --sub-border-light-color: #eee;
  --main-border-dark-color: #777;
  --sub-border-dark-color: #444;

  --button-hover-color: #aaaaaa44;
  --series-color: #ff7c3e52;
  --tag-color: #9d9d9d47;
  --tech-color: #ffd5003d; */
}

html[data-theme='dark'] {
  --background-color: #222;
  --background-neutral-color: #777;
  --text-color: #ccc;
  --text-bold-color: #fff;
  /* --text-color: #eee;
  --text-light-color: #bbb; */
  --main-border-color: #777;
  --sub-border-color: #444;
  --text-light-color: #bbb;
}

div,
nav {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
/* ul,
li, */
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: background-color 0.3s;
  background-color: var(--background-color);
}

html[data-theme='dark'] {
  background-color: var(--background-color);
}

body {
  --sb-track-color: #eee;
  --sb-thumb-color: #787878;
  --sb-size: 13px;

  scrollbar-color: var(--background-color) var(--sb-track-color);
  position: relative;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

.scroll-disabled {
  overflow: hidden;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
textarea,
input,
select,
option,
li,
ul,
a,
tr,
td,
th {
  line-height: 180%;
  letter-spacing: -0.75px;
  /* color: var(--text-color); */
}

p,
span:not(pre[class*='language-'] span),
span:not(code[class*='language-'] span),
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
textarea,
input,
select,
option,
li,
ul,
a {
  color: var(--text-color);
}

button {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.round-btn:hover {
  background: var(--button-hover-color);
}

.round-btn:active {
  transform: scale(0.85);
}

.fixed-btn {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 1000;
  background-color: var(--button-hover-color);
  pointer-events: none;
  visibility: hidden;
}
/* 이거 체크해보기

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/
a {
  text-decoration: none;
  /* color: initial; */
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-bold-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

main,
footer {
  max-width: 768px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

footer > div {
  padding: 30px 0px 60px 0px;
  border-top: 1px solid var(--main-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div > p {
  margin-right: 10px;
}

.background-filter {
  mix-blend-mode: soft-light;
  opacity: 0.4;
  position: fixed;
  z-index: 2000;
  pointer-events: none;
  isolation: isolate;
  width: 100vw;
  height: 100vh;
}
.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 768px;
  margin: auto;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

nav > a {
  display: flex;
  align-items: center;
}

.header-border {
  border-bottom: 1px solid var(--main-border-color);
}

aside {
  position: absolute;
  left: 100%;
  width: 260px;
}

aside a {
  text-decoration: none;
}

details {
  padding: 0 10px 5px 10px;
}

details summary {
  cursor: pointer;
  transition: margin 50ms ease-out;
}

details[open] summary {
  margin-bottom: 5px;
}

details summary::-webkit-details-marker,
details summary::-moz-list-bullet {
  display: none;
}

details summary {
  list-style: none;
  display: flex;
  align-items: center;
}

.sub-header {
  padding: 60px 0px;
  border-bottom: 1px solid var(--main-border-color);
}

.sub-header h1 {
  text-wrap: balance;
}

.post-title {
  text-align: center;
}

.post-title h1 {
  line-height: 120%;
  margin-bottom: 15px;
}

.main-section {
  padding: 25px 0px;
  position: relative;
}

.sticky {
  position: sticky;
}

.small-info {
  color: #777;
  font-size: 14px;
}

.content-area hr {
  margin: 25px 0px;
  border-top: 1px dashed var(--main-border-color);
  border-bottom: 0;
}

.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  scroll-margin-top: 80px;
}

.content-area h1 {
  line-height: 180%;
}

.content-area h2 {
  line-height: 220%;
}

.content-area h3 {
  line-height: 260%;
}

.content-area a[not] {
  text-decoration: underline wavy;
  text-decoration-color: #ff707e86;
  transition: text-decoration-color 0.2s;
  color: var(--text-color);
}

.content-area a:hover {
  text-decoration-color: #ff707f;
}

.content-area code:not(pre code) {
  padding: 2px 8px;
  background-color: var(--sub-border-color);
  border-radius: 5px;
  transition: background-color 0.2s;
}

/* 나중에 필요할 때 써먹어보자 */
.content-area p:not(.content-area li > p) {
  /* text-wrap: balance; */
  word-break: keep-all;
  margin: 15px 0px;
}

/* .content-area p {
  margin: 15px 0px;
} */

.content-area h1 + p,
.content-area h2 + p,
.content-area h3 + p {
  margin-top: 0;
}

.content-area strong {
  font-weight: 700;
  color: var(--text-bold-color);
}
.content-area em {
  font-style: italic;
}

.content-area blockquote {
  border-left: 3px solid var(--sub-border-color);
  /* border-left: 3px solid #eee; */
  padding-left: 8px;
}

.content-area img {
  width: 100%;
}

.content-area ul {
  padding-inline-start: 20px;
  /* text-wrap: balance; */
  word-break: keep-all;
  /* margin: 15px 0px; */
}

.content-area ol {
  padding-inline-start: 20px;
  /* text-wrap: balance; */
  word-break: keep-all;
}

.content-area ol + ul {
  margin: 0;
}

.content-area tr,
.content-area td,
.content-area th {
  line-height: 180%;
  border-bottom: 1px solid var(--main-border-color);
  padding: 5px 10px;
  color: var(--text-color);
}

.content-area th {
  font-weight: var(--bold-font-weight);
}

/* .content-area .anchor {
  position: absolute;
}
.content-area .anchor:after {
} */
::-moz-selection {
  background: #b1d8ff;
  color: #222;
}
::selection {
  background: #b1d8ff;
  color: #222;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  position: absolute;
  top: -25px;
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 0 7px;
  text-transform: none;
  transition: all 0.2s ease;
  max-width: 100px;
  line-height: 160%;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}

.tooltip:hover::before,
.tooltip:focus::before {
  opacity: 1;
  transition: all 0.2s;
}

.anchor {
  text-decoration: none !important;
  color: var(--text-bold-color);
}

/****************************** Reset CSS 끝 ******************************/

/****************************** 기본 스타일 ******************************/

/* .rehype-code-title {
  padding: 5px 15px 3px 15px;
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
    'Courier New', monospace;
  background-color: #333;
  color: white;
  z-index: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 12px;
} */

/* .rehype-code-title + pre[class*='language-'],
.rehype-code-title + code[class*='language-'] {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

@keyframes trembling {
  20% {
    transform: rotateX('-25deg');
  }
  40% {
    transform: rotateX('25deg');
  }
  60% {
    transform: rotateX('-25deg');
  }
  80% {
    transform: rotateX('25deg');
  }
  100% {
    /* transform: rotateX('25deg') */
  }
}

@media screen and (max-width: 850px) {
  header,
  main {
    padding: 0 25px;
  }

  footer {
    padding: 0 25px;
  }

  /* .content-area p,
  .content-area th,
  .content-area td,
  .content-area tr,
  .content-area li,
  .content-area ul {
    font-size: 14px;
  } */
}

@media screen and (max-width: 1130px) {
  .fixed-btn {
    visibility: visible;
    pointer-events: all;
  }
}
/* 
@media screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination > a {
    width: 100%;
  }
  .pagination > a:nth-child(1) {
    margin-bottom: 5px;
  }
  .pagination h3 {
    font-size: 16px;
  }
  .tagElement {
    font-size: 14px;
  }
  .content-area p {
    font-size: 14px;
  }
} */
