/****************************** Reset CSS 시작 ******************************/

html {
  scroll-behavior: smooth;
}

html {
  --background-color: #fff;
  --background-color-transparent: #f5f5f5c9;
  --background-neutral-color: #aaa;
  --text-color: #444;
  --text-bold-color: #222;
  --post-card-color: #fff;
  --post-card-hover-color: #eee;
  --main-border-color: #ccc;
  --sub-border-color: #eee;
  --bold-font-weight: 700;
  --regular-font-weight: 400;

  --box-shadow: 0px 20px 40px -30px rgb(59 59 59);
  --brand-color: red;
  --button-hover-color: #aaaaaa44;
  --series-color: #ff7c3e52;
  --tag-color: #9d9d9d47;
  --tech-color: #ffd5003d;

  --transition-1: 0.1s;
  --transition-2: 0.2s;
  --transition-3: 0.3s;
  --transition-4: 0.4s;
  --transition-5: 0.5s;
}

html[data-theme='dark'] {
  --background-color: #222;
  --background-color-transparent: #333333cc;
  --background-neutral-color: #777;
  --text-color: #ddd;
  --text-bold-color: #fff;
  --post-card-color: #2e2e2e;
  --post-card-hover-color: #333;
  --main-border-color: #777;
  --sub-border-color: #444;
  --text-light-color: #bbb;
}

div,
nav {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
/* ul,
li, */
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: background-color 0.3s;
  background-color: var(--background-color);
}

html[data-theme='dark'] {
  background-color: var(--background-color);
}

body {
  --sb-track-color: #eee;
  --sb-thumb-color: #787878;
  --sb-size: 13px;

  scrollbar-color: var(--background-color) var(--sb-track-color);
  position: relative;
}

body::-webkit-scrollbar,
.hover-box::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.hover-box::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb,
.hover-box::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

.hover-box-wrapper {
  position: absolute;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  max-width: 500px;
  max-height: 400px;
  padding: 10px;
  z-index: 99;
  border: 1px dotted #aaa;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: opacity var(--transition-1);
}

.hover-box {
  background-color: var(--background-color);
  max-width: 400px;
  max-height: 340px;
  overflow: auto;
  padding: 10px;
}

.scroll-disabled {
  overflow: hidden;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
strong,
textarea,
input,
select,
option,
li,
ul,
a,
tr,
td,
th {
  line-height: 180%;
  letter-spacing: -0.75px;
}

p,
span:not(pre[class*='language-'] span),
span:not(code[class*='language-'] span),
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
strong,
textarea,
input,
select,
option,
li,
ul,
a {
  color: var(--text-color);
}

button {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.round-btn:hover {
  background: var(--button-hover-color);
}

.round-btn:active {
  transform: scale(0.85);
}

.fixed-btn {
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 1000;
  background-color: var(--button-hover-color);
  pointer-events: none;
  visibility: hidden;
}

.plain-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.plain-btn:active {
  transform: scale(0.85);
}

a {
  text-decoration: none;
  /* color: initial; */
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-bold-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

strong {
  font-weight: 700;
}

small {
  font-size: 12px;
}

main,
footer {
  max-width: 768px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

footer > div {
  padding: 30px 0px 60px 0px;
  border-top: 1px solid var(--main-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div > p {
  margin-right: 10px;
}

footer .icons-wrapper {
  display: flex;
  gap: 10px;
}

.background-filter {
  mix-blend-mode: soft-light;
  opacity: 0.4;
  position: fixed;
  z-index: 2000;
  pointer-events: none;
  isolation: isolate;
  width: 100vw;
  height: 100vh;
}
.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 768px;
  margin: auto;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

nav > a {
  display: flex;
  align-items: center;
}

.header-border {
  border-bottom: 1px solid var(--main-border-color);
}

aside {
  position: absolute;
  left: 100%;
  width: 260px;
}

aside a {
  text-decoration: none;
}

details {
  padding: 0 10px 5px 10px;
}

details summary {
  cursor: pointer;
  transition: margin 50ms ease-out;
}

details[open] summary {
  margin-bottom: 5px;
}

details summary::-webkit-details-marker,
details summary::-moz-list-bullet {
  display: none;
}

details summary {
  list-style: none;
  display: flex;
  align-items: center;
}

.sub-header {
  padding: 60px 0px;
  border-bottom: 1px solid var(--main-border-color);
}

.sub-header h1 {
  text-wrap: balance;
}

.post-title {
  text-align: center;
}

.post-title h1 {
  line-height: 120%;
  margin-bottom: 15px;
}

.main-section {
  padding: 25px 0px;
  position: relative;
}

.sticky {
  position: sticky;
}

.small-info {
  color: #777;
  font-size: 14px;
}

.content-area hr {
  margin: 25px 0px;
  border-top: 1px dashed var(--main-border-color);
  border-bottom: 0;
}

.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  scroll-margin-top: 80px;
}

.content-area h1 {
  line-height: 180%;
}

.content-area h2 {
  line-height: 200%;
}

.content-area h3 {
  line-height: 220%;
}

.content-area h1 .anchor,
.content-area h2 .anchor,
.content-area h3 .anchor,
.content-area h4 .anchor,
.content-area h5 .anchor,
.content-area h6 .anchor {
  color: var(--text-bold-color);
}
.content-area a {
  text-decoration: underline wavy;
  text-decoration-color: #ff707e86;
  transition: all var(--transition-2);
  color: var(--text-color);
}

.content-area a:hover {
  text-decoration-color: #ff707f;
  color: var(--text-bold-color);
}

.content-area code:not(pre code) {
  padding: 2px 8px;
  background-color: var(--sub-border-color);
  border-radius: 5px;
  transition: background-color var(--transition-2);
}

/* 나중에 필요할 때 써먹어보자 */
.content-area p:not(.content-area li > p) {
  /* text-wrap: balance; */
  word-break: keep-all;
  margin: 15px 0px;
}

/* .content-area p {
  margin: 15px 0px;
} */

.content-area h1 + p,
.content-area h2 + p,
.content-area h3 + p {
  margin-top: 0;
}

.content-area strong {
  font-weight: 700;
  color: var(--text-bold-color);
}
.content-area em {
  font-style: italic;
}

.content-area blockquote {
  border-left: 3px solid var(--sub-border-color);
  /* border-left: 3px solid #eee; */
  padding-left: 17px;
}

.content-area img {
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.content-area ul {
  padding-inline-start: 20px;
  /* text-wrap: balance; */
  word-break: keep-all;
  /* margin: 15px 0px; */
}

.content-area ol {
  padding-inline-start: 20px;
  /* text-wrap: balance; */
  word-break: keep-all;
  margin: 15px 0;
}

.content-area ol + ul {
  margin: 0;
}

.content-area tr,
.content-area td,
.content-area th {
  line-height: 180%;
  border-bottom: 1px solid var(--main-border-color);
  padding: 5px 10px;
  color: var(--text-color);
}

.content-area th {
  font-weight: var(--bold-font-weight);
}

::-moz-selection {
  background: #b1d8ff;
  color: #222;
}
::selection {
  background: #b1d8ff;
  color: #222;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  position: absolute;
  top: -25px;
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 0 7px;
  text-transform: none;
  transition: all 0.2s ease;
  max-width: 100px;
  line-height: 160%;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}

.tooltip:hover::before,
.tooltip:focus::before {
  opacity: 1;
  transition: all 0.2s;
}

.anchor {
  text-decoration: none !important;
  color: var(--text-bold-color);
}

.rect-btn {
  vertical-align: middle;
  margin: 0 2px;
  padding: 0;
  background-color: var(--background-color);
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all var(--transition-2);
}

.rect-btn:hover {
  background-color: var(--sub-border-color);
}

.rect-btn svg {
  /* padding: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-2);

  /* vertical-align: middle; */
}
.rect-btn svg:active {
  transform: scale(0.9);
}

.hover-link-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 10px;
}

.hover-link-title-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hover-link-btn-wrapper {
  display: inline-block;
  flex-shrink: 0;
}

.hover-link-btn {
  display: none;
}

.youtube-dummy {
  width: 100%;
  height: 200px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/****************************** Reset CSS 끝 ******************************/

@keyframes trembling {
  20% {
    transform: rotateX('-25deg');
  }
  40% {
    transform: rotateX('25deg');
  }
  60% {
    transform: rotateX('-25deg');
  }
  80% {
    transform: rotateX('25deg');
  }
  100% {
    /* transform: rotateX('25deg') */
  }
}

@media screen and (max-width: 850px) {
  header,
  main {
    padding: 0 25px;
  }

  footer {
    padding: 0 25px;
  }
}

@media screen and (max-width: 1250px) {
  .fixed-btn {
    visibility: visible;
    pointer-events: all;
  }
  .content-area h1,
  .content-area h2,
  .content-area h3,
  .content-area h4,
  .content-area h5,
  .content-area h6 {
    scroll-margin-top: 90px;
  }

  .hover-link-btn {
    display: inline-block;
  }
}

.hover-link::before {
  content: '‖ ';
  color: var(--main-border-color);
}
.hover-link::after {
  content: ' ‖';
  color: var(--main-border-color);
}
