.videoContent {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
