.categoryWrapper {
  display: flex;
  align-items: center;
}

.categoryWrapper h3 {
  margin-right: 20px;
}

.menuIconWrapper {
  display: none;
}

.menu {
  background-color: var(--background-color);
  width: 40vw;
  height: calc(100vh - 60px);
  padding: 35px;
  text-align: end;
  position: fixed;
  top: 60px;
  transform: translateX(100vw);
  z-index: 888;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform var(--transition-2), background-color var(--transition-3);
}

.menuOpen {
  transform: translateX(60vw);
}

.mobileCategoryBack {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: -1000;
  opacity: 0;
  transition: all var(--transition-2);
}

.blurOn {
  opacity: 1;
  background: #00000021;
  z-index: 800;
}

html[data-theme='dark'] .blurOn {
  opacity: 1;
  background: #77777721;
  z-index: 800;
}

.categoryWrapper {
  color: var(--main-border-color);
}

.mobileCategoryWrapper h3:nth-child(n + 2) {
  margin-top: 15px;
}

.currentPage {
  color: var(--text-bold-color);
  transition: all var(--transition-2);
}

.categoryWrapper a:not(.currentPage),
.mobileCategoryWrapper a:not(.currentPage) {
  color: var(--text-primary-color);
  transition: color var(--transition-1);
}

.categoryWrapper a:not(.currentPage):hover,
.mobileCategoryWrapper a:not(.currentPage):hover {
  color: var(--text-bold-color);
}

.mobileBtnWrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: var(--sub-border-color);
  transition: background-color var(--transition-2);
}

.verticalBorder {
  border-left: 1px solid var(--sub-border-color);
  width: 1px;
  height: 15px;
  margin-right: 20px;
}

html[data-theme='light'] .darkmodeBtn {
  display: none;
}

html[data-theme='dark'] .lightmodeBtn {
  display: none;
}

@media screen and (max-width: 700px) {
  .menuIconWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .categoryWrapper {
    display: none;
  }
}
