.tocWrapper {
  height: 100%;
}

.toc {
  position: sticky;
  top: 75px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* 
.toc {
  --sb-track-color: #eee;
  --sb-thumb-color: #787878;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  overflow: hidden;
  overflow-y: scroll;
  max-height: 600px;
}

.toc::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.toc::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

.toc::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
} */

.infoBox > span {
  margin-right: 12px;
}

.tocWrapper .toc a,
.subHeaderToc a {
  text-decoration: none;
  transition: all 0.2s;
  word-break: keep-all;
}

.tocWrapper .toc .tocBold,
.subHeaderToc .tocBold {
  font-weight: var(--bold-font-weight);
  position: relative;
  color: var(--text-bold-color);
}

.toc h3 {
  line-height: 120%;
  margin-bottom: 10px;
  word-break: keep-all;
  text-wrap: balance;
}

.tocFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px dashed var(--main-border-color);
}

.articleFooter {
  display: flex;
  justify-content: space-between;
}

.tagList {
  display: flex;
  align-items: center;
}

.tagElement {
  padding: 1px 10px;
  background-color: var(--tag-color);
  border-radius: 10px;
  margin-right: 7px;
}

.backToList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* color: #777; */
  transition: background-color 0.2s;
  cursor: pointer;
  border-radius: 50%;
}

.backToList:hover {
  background-color: var(--button-hover-color);
}

.pagination {
  padding: 15px 0;
  justify-content: space-between;
}

.pagination,
.pagination > a {
  display: flex;
}

.pagination > a {
  width: 45%;
  padding: 10px 5px;
  /* justify-content: space-between; */
  align-items: center;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.pagination > a:hover {
  background-color: var(--button-hover-color);
}

.prevPagination > div,
.nextpagination > div {
  width: 85%;
}
.prevPagination h3,
.nextpagination h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prevPagination {
  justify-content: flex-start;
}

.nextpagination {
  justify-content: flex-end;
  text-align: end;
}

.comment {
  height: 500px;
  background-color: var(--button-hover-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.subHeaderWrapper {
  position: sticky;
  top: 60px;
  z-index: 100;
  /* visibility: hidden; */
  display: none;
  pointer-events: none;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px dotted var(--main-border-color);
  padding: 2px 0;
  transition: all var(--transition-3);
}

.subHeader svg {
  transition: all var(--transition-1);
}

.subHeader strong {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tocShow {
  z-index: 100;
  position: sticky;
  top: 92px;
  transform: translateY(-100);
  background-color: var(--background-color);
  visibility: visible;
  pointer-events: all;
}

.tocHidden {
  display: none;
  pointer-events: none;
}

.subHeaderToc {
  background-color: var(--background-color-transparent);
  padding: 10px 15px 15px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}

.subHeaderToc a {
  font-size: 14px;
}

@media screen and (max-width: 1300px) {
  .toc {
    width: 200px;
  }

  .toc h3 {
    font-size: 16px;
  }
  .toc a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1250px) {
  .toc {
    width: 150px;
  }
}

@media screen and (max-width: 1250px) {
  .toc {
    display: none;
  }

  .tocWrapper {
    height: 0;
  }

  .subHeaderWrapper {
    display: block;
    pointer-events: all;
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination > a {
    width: 100%;
  }
  .pagination > a:nth-child(1) {
    margin-bottom: 5px;
  }
  .pagination h3 {
    font-size: 16px;
  }
  .tagElement {
    font-size: 14px;
  }
}
