.categoryWrapper {
  display: flex;
  align-items: center;
}

.categoryWrapper h3 {
  margin-right: 20px;
}

.menuIconWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu {
  background-color: var(--light-background-color);
  width: 40vw;
  height: calc(100vh - 60px);
  padding: 35px;
  text-align: end;
  position: fixed;
  top: 60px;
  transform: translateX(100vw);
  z-index: 888;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.2s, background-color 0.3s;
}

.menuOpen {
  transform: translateX(60vw);
}

.mobileCategoryBack {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: -1000;
  opacity: 0;
  transition: all 0.2s;
}

.blurOn {
  opacity: 1;
  background: #00000021;
  z-index: 100;
}

body[data-theme='dark'] .blurOn {
  opacity: 1;
  background: #77777721;
  z-index: 100;
}

.categoryWrapper {
  color: #777;
}

body[data-theme='dark'] .categoryWrapper {
  color: #777;
}

.mobileCategoryWrapper h3:nth-child(n + 2) {
  margin-top: 15px;
}

/* .mobileCategoryWrapper a:not(.currentPage) {
  color: #777;
} */
/* body[data-theme='dark'] .mobileCategoryWrapper a:not(.currentPage) {
  color: #777;
} */
.currentPage {
  color: var(--light-text-color);
}

body[data-theme='dark'] .currentPage {
  color: var(--dark-text-color);
}

.categoryWrapper a:not(.currentPage),
.mobileCategoryWrapper a:not(.currentPage) {
  color: #666;
  transition: color 0.1s;
}

body[data-theme='dark'] .categoryWrapper a:not(.currentPage),
body[data-theme='dark'] .mobileCategoryWrapper a:not(.currentPage) {
  color: #bbb;
  transition: color 0.1s;
}

.categoryWrapper a:not(.currentPage):hover,
.mobileCategoryWrapper a:not(.currentPage):hover {
  color: var(--light-text-color);
}

body[data-theme='dark'] .categoryWrapper a:not(.currentPage):hover,
body[data-theme='dark'] .mobileCategoryWrapper a:not(.currentPage):hover {
  color: var(--dark-text-color);
}
/* .mobileBtnWrapper {
  border-top: 1px solid var(--sub-border-light-color);
  margin-top: 80px;
} */

.mobileBtnWrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: var(--sub-border-light-color);
  transition: background-color 0.2s;
}

body[data-theme='dark'] .mobileBtnWrapper::before {
  background-color: var(--sub-border-dark-color);
}

body[data-theme='dark'] .menu {
  background-color: var(--dark-background-color);
}

.verticalBorder {
  border-left: 1px solid var(--sub-border-light-color);
  width: 1px;
  height: 15px;
  margin-right: 20px;
}

body[data-theme='dark'] .verticalBorder {
  border-left: 1px solid var(--sub-border-dark-color);
}

.themeToggleBtn,
.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.2s, transform 0.1s;
  cursor: pointer;
}

.themeToggleBtn:hover,
.footerBtn:hover {
  background-color: var(--button-hover-color);
}
